<div class="quiz__container">
  <div class="quiz-logo">
    <img src="../../../assets/images/logo.png" alt="" />
    <h1>{{ title }}</h1>
  </div>

  <div *ngIf="!finished" class="quiz-questions">
    <h2>{{questionSelected.question}}</h2>
  </div>

  <div *ngIf="!finished" class="quiz-options">
    <button *ngFor="let option of questionSelected.options" (click)="playerChoice(option.alias)" class="btn-option">
      {{option.name}}
    </button>
  </div>

  <div *ngIf="finished" class="quiz-results">
    <h3>O seu resultado</h3>
    <p>{{answerSelected}}</p>
  </div>
</div>
